<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>URSSI Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{.Site.BaseURL}}i/logo-dark@2x.png">
		<!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap" rel="stylesheet">
		<!-- Startup CSS + Bootstrap CSS (Styles for all blocks) - Remove ".min" if you want to edit a css code -->
		<link href="{{.Site.BaseURL}}css/styles.min.css" rel="stylesheet" />
		<link href="{{.Site.BaseURL}}css/pagination.css" rel="stylesheet" />
		
		<!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
		<!-- Open graph settings (social networks sharing settings) -->
		<!-- Open graph settings end -->
	</head> 
	<body>

<!-- Navigation 2 -->
{{ partial "navbar.html" . }}

	<!-- Blog 7 -->
		<section class="bg-bg-3 py-10 py-lg-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="mb-10 row justify-content-between">
						</div>
						<h1 class="mb-6 mb-md-15 display-4">
									URSSI Blog
						</h1>
						<!-- { range .Pages }
							{ if eq .Type "blog"}
							 -->
						{{ $paginator := .Paginate (where .Pages "Type" "blog") }}
						{{ range $paginator.Pages }}	
						<p class="mb-8 fs-1 text-dark-1 fw-bold text-capitalize">
									<a href="{{ .Permalink }}">{{ .Title }}</a>
						</p>
{{ $authors := .Params.authors }} <!-- Store authors in a variable outside the loop -->
  {{ range $index, $author := $authors }}
    {{ with index $.Site.Data.authors $author }}
      {{ .name }}
      {{ if ne $index (sub (len $authors) 1) }}, {{ end }} <!-- This adds a comma between names except for the last name -->
    {{ end }}
  {{ end }}
						<p class="mb-0 text-dark-1 fs-3">
									{{ .Summary }}
						</p>
								 {{ range .Params.tags }}
          <!-- <li><a href="/tags/{{ . | urlize }}" class="tag">{{ . }}</a></li> -->
          <p class="mb-0 mt-xl-12 text-capitalize fs-4 text-dark-2">{{ . }} •</p>
       							 {{ end }}
							{{ end }} 
					{{ template "_internal/pagination.html" . }}
					</div>
				</div>
			</div>
		</section>
		<!-- Content 4 -->
			{{ partial "newsletter-banner.html" . }}
				{{ partial "footer-menu.html" . }}

{{ partial "js.html" . }}

	</body>
</html>