<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>URSSI Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="i/logo-dark@2x.png">
		<!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap" rel="stylesheet">
		<!-- Startup CSS + Bootstrap CSS (Styles for all blocks) - Remove ".min" if you want to edit a css code -->
		<link href="{{.Site.BaseURL}}css/styles.min.css" rel="stylesheet" />
		<!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
		<!-- Open graph settings (social networks sharing settings) -->
		<!-- Open graph settings end -->
	</head> 
	<body>

<!-- Navigation 2 -->
{{ partial "navbar.html" . }}

	<!-- Blog 7 -->
		<section class="bg-bg-3 py-10 py-lg-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="mb-10 row justify-content-between">
							<div class="col-auto">
							</div>
							<a href="#" class="text-dark-1">
							</a>
						</div>
						<h1 class="display-3 mb-6 mb-md-15">
									{{ .Title }}
						</h1>
						<p class="fs-3 fw-bold text-dark-1 mt-xl-8">
									{{ .Params.author | default .Site.Params.author }}
						</p>
						<p class="mt-xl-1 fw-light border-bottom border-dark-3 fs-5 text-dark-2 mb-xl-8 pb-xl-4">
									{{ .Date.Format "January 2, 2006"}}
						</p>
						<p class="mb-8 fs-1 text-dark-1">
									 {{ .Content }}
						</p>
						
		 {{ range .Params.tags }}
          <!-- <li><a href="/tags/{{ . | urlize }}" class="tag">{{ . }}</a></li> -->
          <p class="mb-0 mt-xl-12 text-capitalize fs-4 text-dark-2">{{ . }} •</p>
        {{ end }}
					</div>
				</div>
			</div>
		</section>
					<!-- Footer 1 -->
{{ partial "footer-menu.html" . }}
{{ partial "js.html" . }}

	</body>
</html>