{{ partial "header.html" . }}
<section class="content_40 padding_top60 padding_bottom110">
    <div class="container nopadding padding_left100">
        <h2 class="raleway light font42 dark_gray">{{ .Title }}</h2>
        <div class="float_left max_width770 block_left">
            <div class="  padding_bottom30">
                {{ .Params.author | default .Site.Params.author }}, <i>{{ .Date.Format "January 2, 2006"}}</i><br>
            </div>
            {{ .Content }}
        </div>

</section>
{{ partial "footer.html" . }}