<!-- Footer 10 -->

<footer class="footer_10 padding_top95 padding_bottom85">
	<div class="container nopadding">
		<div class="row">
			<div class="col-md-4 col-sm-12 bottom50">
				<div class="font22 raleway white"><b><a href="/">URSSI</a></b></div>
		<!-- 		<div class="top30 max_width170 font16 light white opacity7 text_block">
					Be sure to take a look at our <a href="#" class="link white underline">Terms of Use</a> and <a href="#" class="link white underline">Privacy Policy</a>
				</div> -->
				<div class="top40 socials">
					<a href="https://twitter.com/si2urssi" class="font18 link white right30"><i class="fa fa-twitter"></i></a>
					<a href="https://github.com/urssi" class="font18 link white right30"><i class="fa fa-github"></i></a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6 bottom50">
				<div class="bottom30 font22 raleway light white title">About</div>
				<div class="bottom10"><a href="/about" class="font16 light link white opacity7">Project Description</a></div>
				<div class="bottom10"><a href="/about#team" class="font16 light link white opacity7">Team</a></div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6 bottom50">
				<div class="bottom30 font22 raleway light white title">Resources</div>
				<div class="bottom10"><a href="/workshops" class="font16 light link white opacity7">Workshop plan</a></div>
				<div class="bottom10"><a href="/news" class="font16 light link white opacity7">Project Updates</a></div>
				<div class="bottom10"><a href="/resources" class="font16 light link white opacity7">Resources</a></div>
				<div class="bottom10"><a href="/contact" class="font16 light link white opacity7">Contact</a></div>

			</div>
			 <div class="col-md-2 col-sm-3 col-xs-6 bottom50">
				<div class="bottom30 font22 raleway light white title">Workshops</div>
				<div class="bottom10"><a href="/workshops/berkeley" class="font16 light link white opacity7">Berkeley, April 9-12, 2018</a></div>
			</div> 
	<!-- 		<div class="col-md-2 col-sm-3 col-xs-6 bottom50">
			<i class="fa fa-flag font18 line_height36 white"></i>
				<span class="dropdown_holder white top5 left5">
					<a href="#" class="link white">English</a>
					<div class="dropdown_body dark_gray width70 padding_top10 padding_bottom10 line_height36">
						<div><a href="#" class="link white">French</a></div>
						<div><a href="#" class="link white">Italian</a></div>
					</div>
				</span>
			</div> -->
		</div>
	</div>
</footer>