<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-462421-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-462421-7');
</script>

{{ template "_internal/google_analytics.html" . }}
<div class="overlay"></div>
<script src="/js/slick.min.js"></script>
<script src="/js/aos.min.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>