                                    <!-- Footer 1 -->
                                        <footer class="py-8 bg-">
                                            <div class="container">
                                                <div class="row mb-4">
                                                    <div class="mb-md-0 mb-8 col-md-4">
                                                        <a href="{{.Site.BaseURL}}">
                                                            <img src="{{.Site.BaseURL}}i/logo-dark@2x.png" srcset="{{.Site.BaseURL}}i/logo-dark@2x.png 2x" alt="" class="img-fluid aos-animate">
                                                        </a>
                                                    </div>
                                                    <div class="mb-sm-8 mb-md-0 col-md-2 col-sm-6 aos-animate">
                                                        <h5 class="mb-4">
                                                    About
                                                        </h5>
                                                        <a href="{{.Site.BaseURL}}about" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                About URSSI
                                                        </a>
                                                        <a href="{{.Site.BaseURL}}about/#team" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Team
                                                        </a>
                                                        <a href="{{.Site.BaseURL}}projects" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Projects
                                                        </a>  
                                                        <a href="{{.Site.BaseURL}}jobs" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Jobs
                                                        </a>
                                                        <a href="https://donorbox.org/us-research-software-sustainability-institute" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1" target="_blank" rel="noopener noreferrer">
                                                                    Donate 
                                                        </a>
                                                    </div>
                                                    <div class="mb-sm-8 mb-md-0 col-md-2 col-sm-6 aos-animate">
                                                        <h5 class="mb-4">
                                                    Community
                                                        </h5>
                                                        <a href="{{.Site.BaseURL}}community" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Community Calls
                                                        </a>
                                                        <a href="{{.Site.BaseURL}}events" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Events
                                                        </a>
                                                        <a href="{{.Site.BaseURL}}newsletter" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Newsletter
                                                        </a>
                                                        <a href="{{.Site.BaseURL}}code-of-conduct/" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                                Code of Conduct
                                                        </a>
                                                    </div>
                                                    <div class="mb-sm-8 mb-sm-0 col-md-2 col-sm-6 aos-animate">
                                                        <h5 class="mb-4">
                                                    Resources
                                                        </h5>
<a class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1" data-tf-slider="JpjBb25o" data-tf-width="550" data-tf-iframe-props="title=Contact" data-tf-medium="snippet" style="color:#0445AF;text-decoration:none;font-size:20px;cursor:pointer;">Contact Us</a><script src="//embed.typeform.com/next/embed.js"></script>


                                                        <a href="{{.Site.BaseURL}}blog" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
Blog
                                                        </a>                                                        <a href="{{.Site.BaseURL}}privacy" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
Privacy
                                                        </a>
                                                        <a href="#" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                        </a>
                                                        <a href="#" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 aos-animate">
                                                        <h5 class="mb-4">
Follow Us
                                                        </h5>
                                                        <a href="https://twitter.com/si2urssi" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1" target="_blank" rel="noopener noreferrer">
Twitter
                                                        </a>
                                                        <a href="#" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                        </a>
                                                        <a href="#" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1">
                                                        </a>
                                                        <a href="https://github.com/si2-urssi" class="mb-4 me-2 me-sm-0 d-sm-block text-dark-1" data-bs-target="" target="_blank" rel="noopener noreferrer">
                                                                    GitHub
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="fs-5 mb-0 text-xl-center pt-xl-5 border-1 border-0 d-xl-flex align-self-xl-center align-items-xl-center justify-content-xl-center flex-xl-row aos-animate text-md-center">
                                                        Copyright © 2022 URSSI
                                            </p>
                                            <p class="fs-5 mb-0 text-xl-center pt-xl-5 border-1 border-0 d-xl-flex align-self-xl-center align-items-xl-center justify-content-xl-center flex-xl-row aos-animate text-md-center">
                                                        URSSI is a fiscally sponsored project of &nbsp; <a href="https://codeforscience.org/">Code for Science &amp; Society</a>, a registered 501(c)3 non-profit organization 
                                            </p>
                                        </footer>