<footer class="footer_10 padding_top95 padding_bottom85">
    <div class="container nopadding">
        <div class="row">
            <div class="col-md-4 col-sm-12 bottom50">
                <div class="font22 raleway white"><b><a href="/"><img src="/img/small_logo.png"></a></b></div>
                <div class="top40 socials">
                    <a href="https://twitter.com/si2urssi" class="font18 link white right30"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/si2-urssi" class="font18 link white right30"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 bottom50">
                <div class="bottom30 font22 raleway light white title">About</div>
                <div class="bottom10"><a href="/about" class="font16 light link white opacity7">Project Description</a></div>
                <div class="bottom10"><a href="/blog" class="font16 light link white opacity7">Blog</a></div>
                <div class="bottom10"><a href="/about#team" class="font16 light link white opacity7">Team</a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 bottom50">
                <div class="bottom30 font22 raleway light white title">Resources</div>
                <div class="bottom10"><a href="https://discuss.urssi.us/" class="font16 light link white opacity7">Discussion board</a></div>
                 <div class="bottom10"><a href="http://bit.ly/urssi-2018-survey" class="font16 light link white opacity7">Survey</a></div>
                <div class="bottom10"><a href="/news" class="font16 light link white opacity7">Project Updates</a></div>
                <div class="bottom10"><a href="https://urssi.us17.list-manage.com/subscribe/post?u=34c9c3bb4d54665136bd03e49&id=f55b22de1d" class="font16 light link white opacity7">Sign up for our mailing list</a></div>
                <div class="bottom10"><a href="/newsletter" class="font16 light link white opacity7">Newsletters</a></div>
                <div class="bottom10"><a href="/resources" class="font16 light link white opacity7">Resources</a></div>
                <div class="bottom10"><a href="/contact" class="font16 light link white opacity7">Contact</a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 bottom50">
                <div class="bottom30 font22 raleway light white title">Workshops</div>
                <div class="bottom10"><a href="/workshops/berkeley" class="font16 light link white opacity7">Berkeley workshop, April 2018</a></div>
                <div class="bottom10"><a href="/workshops/chicago" class="font16 light link white opacity7">Chicago workshop, October 2018</a></div>
              <div class="bottom10"><a href="/workshops/santa-barbara" class="font16 light link white opacity7">Software metrics workshop, January 2019</a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 bottom50">
                <div class="bottom30 font22 raleway light white title">RSS Feeds</div>
                <div class="bottom10"><a href="http://urssi.us/blog/index.xml" class="font16 light link white opacity7">Blog Feed</a></div>
                <div class="bottom10"><a href="http://urssi.us/workshops/index.xml" class="font16 light link white opacity7">Workshop Feed</a></div>
            </div>
        </div>
        <center>Contributions, corrections and suggestions for this website are welcome on the <a href="https://github.com/si2-urssi/website">project repository</a>.</center>
    </div>
</footer>
