<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>US Research Software Sustainability Institute (URSSI)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
<link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
</head>

<body>
    <nav class="navigation_19 padding_top30 padding_bottom30">
        <div class="container nopadding">
            <div class="float_left white font20 line_height40"><b><a href="/">URSSI</a></b></div>
            <div class="float_right">
                <a href="/about" class="link white semibold font12 line_height40 uppercase spacing20 sides15">About</a>
                <a href="/workshops" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Workshops</a>
                <a href="https://discuss.urssi.us" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Discuss</a>
                <!-- <a href="/blog" class="link white semibold font12 line_height40 uppercase spacing20 sides15">Blog</a> -->
                <div class="inline_block sides15">
                    <a href="https://github.com/si2-urssi/" class="link white font18 line_height40 spacing20 sides15"><i class="fa fa-github-square"></i></a>
                    <a href="https://twitter.com/si2urssi/" class="link white font18 line_height40 spacing20 left15"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>