<ul class="submenu nav nav-pills flex-column col-md-4 col-sm-12">
    <li class="nav-item">
        <a class='nav-link py-0 {{ if eq "/projects/policy/" .RelPermalink }}active{{ end }}' href="/projects/policy">Project home</a>
    </li>
    <li class="nav-item">
        <a class='nav-link py-0 {{ if eq "/projects/policy/about/" .RelPermalink }}active{{ end }}' href="/projects/policy/about">About</a>
    </li>
    <li class="nav-item">
        <a class='nav-link py-0 {{ if eq "/projects/policy/team/" .RelPermalink }}active{{ end }}' href="/projects/policy/team">Team</a>
    </li>
    <li class="nav-item">
        <a class='nav-link py-0 {{ if eq "/projects/policy/research/" .RelPermalink }}active{{ end }}' href="/projects/policy/research">Research</a>
    </li>
    <li class="nav-item">
        <a class='nav-link py-0 {{ if eq "/projects/policy/resources/" .RelPermalink }}active{{ end }}' href="/projects/policy/resources">Resources</a>
    </li>
    <li class="nav-item">
        <a class='nav-link py-0 {{ if eq "/projects/policy/engagement/" .RelPermalink }}active{{ end }}' href="/projects/policy/engagement">Community Engagement</a>
    </li>
</ul>