					<section class="py-10 py-lg-20 bg-bg-3 text-center">
						<div class="container">
							<div class="row justify-content-center border-bg-2 border-1 pt-xl-6">
								<div class="col-md-10 col-lg-7 col-xl-6 col-xxl-5">
									<img src="i/neilprofilefilmfest400x400.jpg" srcset="i/neilprofilefilmfest400x400.jpg 2x" alt="" class="img-fluid rounded-circle mb-6 mt-xl-6 aos-animate">
									<h4 class="mb-2 aos-animate"></h4>
									<p class="mb-6 aos-animate">Director of the UK Software Sustainability Institute</p>
									<p class="fs-2 mb-0 aos-animate">Cool quote from Neil about the importance of research software.</p>
								</div>
							</div>
						</div>
					</section>