<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>US Research Software Sustainability Institute</title>
		<link rel="icon" href="i/logo-dark@2x.png">
		<!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap" rel="stylesheet">
		<!-- Startup CSS + Bootstrap CSS (Styles for all blocks) - Remove ".min" if you want to edit a css code -->
		<link href="{{.Site.BaseURL}}css/styles.min.css" rel="stylesheet" />
		<!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
		<!-- Open graph settings (social networks sharing settings) -->
		<!-- Open graph settings end -->
	</head> 
	<body>

<!-- Navigation -->
{{ partial "navbar.html" . }}

	<!-- Header 1 -->
		<header class="py-20 bg-bg-3">
			<div class="container">
				<div class="row align-items-center flex-md-row-reverse">
					<div class="col-md-6">
						<img src="i/main.png" alt="" class="w-100" srcset="i/main.png 2x">			
					</div>
					<div class="col-md-6 mt-8 mt-md-0">
						<h1 class="display-3 mb-6">
									US Research Software Sustainability Institute
						</h1>
<p class="mb-8 fs-1 text-dark-1">
    URSSI's mission is to improve the
    <b>
        recognition
    </b>
    ,
    <b>
        development,
    </b>
    and
    <b>
        use
    </b>
    of software for a more sustainable research enterprise.
</p>
						<a href="{{.Site.BaseURL}}about" class="btn btn-action-1">
									Learn more about our mission and vision
						</a>
					</div>
				</div>
			</div>
		</header>



<!-- Two blog posts and a community call -->


			<section class="py-10 py-lg-20 text-center text-md-start bg-bg-3">
				<div class="container">
					<div class="row justify-content-between mb-lg-20 mb-15">
						<div class="mb-lg-0 mb-6 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
							<h2 class="display-5">
										URSSI Updates
							</h2>
						</div>
						<div class="col-md-8 col-lg-5">
							<p class="fs-2 mb-0">
										Keep up to date with URSSI's new activities
							</p>
						</div>
					</div>
					<div class="row justify-content-center">

						<!-- First blog post -->
					{{ $pages := where site.Pages "Type" "blog" }}
					{{ range first 1 $pages }}
						<div class="col-sm-8 col-md-4 mb-15 mb-md-0">
							<img src="i/left710x480.png" alt="" class="img-fluid w-100 mb-6" srcset="i/left710x480-1662580726.png 2x">
							<h4 class="mb-4">{{ .Title }}</h4>
							{{ .Summary | replaceRE  "<p>" "<p class=\"b-0 fs-2 text-dark-1 aos-animate\">" | safeHTML }}
							<a href="{{ .Permalink }}">→  More </a>
						</div>
						{{ end }}
				
						<!-- End first blog post -->

						<!-- Second blog post -->
						{{ $pages := where site.Pages "Type" "blog" }}
						 {{ range first 1 (after 1 $pages) }}
						<div class="col-sm-8 col-md-4 mb-15 mb-md-0">
							<img src="i/left2355x240.png" srcset="i/left2710x480.png 2x" alt="" class="img-fluid w-100 mb-6">
							<h4 class="mb-4">{{ .Title }}</h4>
							 {{ .Summary | replaceRE  "<p>" "<p class=\"b-0 fs-2 text-dark-1 aos-animate\">" | safeHTML }}
							 	<a href="{{ .Permalink }}">→  More </a>
						</div>
						{{ end }}
						<!-- End second blog post -->

							<!-- Comm calls -->
						<div class="col-sm-8 col-md-4 mb-15 mb-md-0">
							<img src="i/feature-20-3.png" alt="" class="img-fluid w-100 mb-6" srcset="i/left3710x480.png 2x">
							<h4 class="mb-4">Upcoming community calls and events </h4>
							<p>Stay tuned for upcoming announcements on workshops, training events, conferences and more.</p>
						</div>
					</div>
				</div>
			</section>


			<!-- Core URSSI Projects -->

				<section class="py-10 py-lg-20 text-center text-lg-start bg-bg-3">
					<div class="container">
						<div class="mb-10 mb-lg-15 row align-items-center justify-content-center justify-content-lg-between flex-lg-row-reverse">
							<div class="mb-lg-0 mb-8 col-md-8 col-lg-5">
								<img src="i/projects451x596.png" srcset="i/projects902x592.png 2x" alt="" class="img-fluid w-100 aos-animate">
							</div>
							<div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
								<img src="i/logo-blue.png" srcset="i/logo-dark@2x.png 2x" alt="" class="img-fluid mb-4 aos-animate">
								<h2 class="display-6 mb-6 aos-animate">
											Core URSSI Projects
								</h2>
								<p class="mb-0 fs-2 text-dark-1 aos-animate">
											As we get started on the institue, we have launched a series of core projects to improve the sustaniability of research software and the people who produce it.
								</p>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="mb-10 col-12 aos-animate">
								<div class="border-bottom border-bottom-dark-2 opacity-30">
								</div>
							</div>
						{{ $projects := .Site.Data.projects.projects }}
						{{ range $projects }}
						<div class="mb-10 mb-md-0 col-sm-8 col-md-4 aos-animate">
               		 <h5 class="mb-4">{{ .title }}</h5>
               		 <p class="b-0 fs-2 text-dark-1 aos-animate">
               {{ .abstract | truncate 500 | replaceRE  "<p>" "<p class=\"b-0 fs-2 text-dark-1 aos-animate\">" | safeHTML }}
           </p>
              			<br> → <a href="{{ .url }}">Learn More</a>
              			</div>
						

						{{ end }}
						</div>
					</div>
				</section>


<!-- Testimonial -->

<!-- { partial "testimonial.html" . } -->


<!-- Newsletter Sign up -->

{{ partial "newsletter-signup.html" . }}

<!-- Funders -->

{{ partial "funders.html" . }}

<!-- Footer  -->

{{ partial "footer-menu.html" . }}

<!-- Javascript -->

{{ partial "js.html" . }}

	</body>
</html>
