{{ partial "header.html" . }}

<section class="content_40 padding_top60 padding_bottom110">
	<div class="container nopadding padding_left100">
		<h2 class="raleway light font42 dark_gray bottom50">How We Did It</h2>
		<div class="float_left max_width770 block_left">
			<div class="padding_sides30 padding_top30 padding_bottom30 radius10">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia <b>deserunt</b> mollit anim id est laborum.
				</p>

				<h2>test</h2>

				<pre>library(tidyverse)</pre>
			</div>
			
			<div class="clearfix"></div>
		</div>
	<!-- 	<div class="top30 float_right width270 padding_sides25 block_right">
			<div class="dark_gray font18 semibold"><i class="fa fa-file-code-o font20 right10"></i>Great Code</div>
			<div class="top10 dark_blue light font18 text">You’ll get a description <br />of each component and learn how to connect <br />and use them.</div>
		</div> -->
	</div>
</section>

<!-- Content 39 -->

<section class="content_39 padding_top60 padding_bottom110">
	<div class="container nopadding max_width970">
		<h2 class="raleway light font42 dark_gray text_center">Upcoming events</h2>
		<div class="scrolling">
			<div class="scrolling_holder width_full">
				<div class="width970 top10 bottom30">
					<div class="width170 float_left col first_col">
						<div class="height70 padding_left30 semibold font12 line_height70 medium_gray uppercase spacing15">Upcoming events</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray bg">Berkeley</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray">2</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray bg">3</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray">4</div>
						<div class="height70 padding_left30 semibold font16 line_height70 dark_gray bg">4</div>
					</div>
					<div class="width400 float_left col">
						<div class="height70 padding_left15 semibold font12 line_height70 medium_gray uppercase spacing15">ddd</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue bg">ddd</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue">..........</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue bg">..........</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue">..........</div>
						<div class="height70 padding_left15 light font16 line_height70 dark_blue bg">..........</div>
					</div>
					<div class="width230 float_left col">
						<div class="height70 padding_left35 semibold font12 line_height70 medium_gray uppercase spacing15">Dates</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue bg">12</div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue"><b>25</b></div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue bg"><b>25</b></div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue"><b>20</b> </div>
						<div class="height70 padding_left35 light font16 line_height70 dark_blue bg"><b>10</b> </div>
					</div>
					<div class="width170 float_left col last_col">
						<div class="height70 padding_left15 semibold font12 line_height70 blue uppercase spacing15">Link</div>
						<div class="height70 padding_left15 light font16 line_height70 blue bg"><b>Link</b></div>
						<div class="height70 padding_left15 light font16 line_height70 blue"><b>Link</b></div>
						<div class="height70 padding_left15 light font16 line_height70 blue bg"><b>Link</b></div>
						<div class="height70 padding_left15 light font16 line_height70 blue"><b>Link</div>
						<div class="height70 padding_left15 light font16 line_height70 blue bg"><b>Link</b></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}