<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="i/logo-dark@2x.png">
	<!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap" rel="stylesheet">
	<!-- Startup CSS + Bootstrap CSS (Styles for all blocks) - Remove ".min" if you want to edit a css code -->
	<link href="{{.Site.BaseURL}}css/styles.min.css" rel="stylesheet" />
	<!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
	<!-- Open graph settings (social networks sharing settings) -->
	<!-- Open graph settings end -->
</head>

<body>

	<!-- Navigation-->
	{{ partial "navbar.html" . }}

	<!-- Blog 7 -->
	<section class="bg-bg-3 py-10 py-lg-20">
		<div class="container">
			<div class="row justify-content-lg-center p-xxl-1">
				<div class="col-md-6 col-sm-12">
					<h2 class="display-5 mb-6">
						{{ .Title }}
					</h2>
				</div>
				<div class="col-md-2">
				</div>
				{{ partial "policy-submenu.html" . }}
				<div class="col-md-1">
				</div>
			</div>
		</div>
	</section>
	<section class="bg-bg-3">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-8">
				<div class="mb-10 row justify-content-between">
				</div>
				<div>{{ .Content }}</div>

			</div>
		</div>
	</section>
	<!-- Content 4 -->
	{{ partial "policy-footer.html" . }}
	{{ partial "newsletter-banner.html" . }}
	{{ partial "footer-menu.html" . }}
	}
	}

	{{ partial "js.html" . }}

</body>

</html>